<ion-view view-title="CCS">
  <div class="bar bar-header" style="background-color:#64DD17;">
    <a href="#/department" class="button icon ion-arrow-left-c"></a>
    <h1 class="title" style="color:white;">add</h1>
  </div>

   <ion-content style="text-align: center; margin-top: 10%;">
     <div class="list list-inset">
       <label class="item item-input">
         <input type="text" placeholder="First Name">
       </label>
       <label class="item item-input">
         <input type="text" placeholder="Last Name">
       </label>
     </div>

  </ion-content>
</ion-view>
