<ion-view view-title="Contact us">
  <div class="bar bar-header" style="background-color:#359cfb;">
    <h1 class="title" style="color:white;">POSTS</h1>
  </div>

  <ion-content>
    <ion-list>
		<div class="list card" style="margin-top:15%" >
      <div style="margin:10px; padding:10px; box-shadow: 10px 10px 5px #E0E0E0; border-radius:5px" >
		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-home"></i>
		    <p>Tapinac Oval Sports Complex, Donor St.,<br>
		    East Tapinac Olongapo City, Philippines</p>
		  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-ios-telephone"></i>
		    <p>Call (047) 224 2089</p>
		  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-wifi"></i>
		    	<p> Website: http://www.gordoncollegeccs.edu.ph <br>
		    	Email Address:contactus@gordoncollegeccs.edu.ph </p>
		  </a>
    </div><br>


        <div class="item item-image">
          <img src="img/map1.png">
        </div>

        <a class="item item-icon-left assertive" href="#" style="background-color: #415748">
          <p style="color:  white">	Gordon College, Olongapo City School ·</p>
        </a>

      </div>

    </ion-list>
  </ion-content>
</ion-view>
