
<ion-tabs class="tabs-icon-top" style="background-color: 	#359cfb;" >


  <ion-tab title="Home" style="color: 	#f69011;" icon-off="icon ion-home" icon-on="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></icon-nav-view>
  </ion-tab>

  <ion-tab title="My Day" icon-off="icon ion-compose" icon-on="icon ion-compose" href="#/tab/announcement">
    <ion-nav-view name="tab-announcement"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Log Out" icon-off="icon ion-log-out" icon-on="icon ion-log-out" href="#/login">
  <ion-nav-view name="login"></ion-nav-view>

  </ion-tab>
</ion-tabs>
